---

- name: perform installation
  include_tasks: install/{{ ansible_os_family }}.yml

# TODO: Remove this shim once 18.09.1 or later is released.
- import_tasks: docker-1809-shim.yml
  when: ansible_service_mgr == 'systemd'

- name: enable and start docker
  systemd: name=docker state=started enabled=true

- name: add docker users to docker group
  user:
    name: "{{ item }}"
    groups: docker
    append: true
  loop: "{{ docker_users }}"

- name: launch docker containers
  docker_container:
    name: "{{ item.name }}"
    image: "{{ item.image }}"
    keep_volumes: "{{ item.keep_volumes|default(true) }}"
    cleanup: "{{ item.cleanup|default(true) }}"
    command: "{{ item.command }}"
    published_ports: "{{ item.published_ports }}"
  loop: "{{ docker_containers }}"
